body{
    font-family: Courier, "Times New Roman", Impact;
    line-height: 2;
    color: darkblue;
    background-color: darkgray;
    font-size: 38px;
}

img{
    border: 5px solid green;
}

li{
    border: solid 5px black;
}